<div class="content">
  <div class="container-fluid"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header card-header-primary text-center">
          <h4 class="card-title mt-0">Order List</h4>
        </div>
        <div class="card-body">
          <form action="/order/filter_status" method="post">
            <div class="row">
              <div class="col-6"></div>
              <div class="form-group col-4">
                <select class="form-control" name="status" id="status">
                  <option value="2">Order Status</option>
                  <option value="Done">Done</option>
                  <option value="Pending">Pending</option>
                  <option value="Cancel">Cancel</option>
                </select>
              </div>
              <div class="form-group col-2">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead class="thead-dark">
                <th>
                  No.
                </th>
                <th>
                  Order Date
                </th>
                <th>
                  User Email
                </th>
                <th>
                  Status
                </th>
                <th>
                  Total Items
                </th>
                <th>
                  Total profit
                </th>
                <th>
                  Update status
                </th>
                <th>
                </th>
              </thead>
              <tbody>
                {{#each orderList}}
                <tr>
                  <td>
                    {{this.number}}
                  </td>
                  <td>
                    {{this.orderDate}}
                  </td>
                  <td>
                    {{this.email}}
                  </td>
                  <td>
                    {{this.status}}
                  </td>
                  <td>
                    {{this.totalItem}}
                  </td>
                  <td>
                    $ {{this.totalPrice}}
                  </td>
                  <td>
                    <a type="button" data-toggle="modal" data-target="#myModal-{{this.id}}-{{this.numberOrder}}"><i
                        style="color: #2196f3; font-size: 20px; padding:10px; cursor: pointer"
                        class="fa fa-retweet"></i></a>
                  </td>
                  <td>
                    <a class="btn btn-success" href="/order/orderDetail/{{this.id}}-{{this.numberOrder}}">Detail</a>
                  </td>
                </tr>
                {{!-- Modal --}}
                <form action="/order/updSttOr/{{this.ticketId}}-{{this.ticketNumOr}}" method="post">
                  <div class="modal fade" id="myModal-{{this.id}}-{{this.numberOrder}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content text-center">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLongTitle">Update ticket's status</h4>
                          {{!-- <p>{{this.ticketId}}-{{this.ticketNumOr}}</p> --}}
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row pl-3">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="bmd-label-floating">Order status:</label>
                                <p>{{this.number}}</p>
                                <select class="form-control" name="status" id="status">
                                  <option value="{{this.status}}" selected hidden>{{this.status}}</option>
                                  <option value="1">Done</option>
                                  <option value="0">Pending</option>
                                  <option value="-1">Cancel</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <div class="form-group">
                            <button name="" id="" class="btn btn-primary pull-right" role="button">Update</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                {{!-- End modal --}}
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>